[Unit]
Description=Loopback 80 to remote

[Service]
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/socat TCP-LISTEN:80,fork TCP6:[${LOOPBACK_IPV6}]:80
Restart=always

[Install]
WantedBy=multi-user.target