[Unit]
Description=Loopback 443 to remote

[Service]
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/socat TCP6-LISTEN:443,fork TCP6:[${LOOPBACK_IPV6}]:443
Restart=always

[Install]
WantedBy=multi-user.target